*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: cornflowerblue;

}

.hgfh{
    margin: 100px 35%;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    gap:20px;
    width: 350px;

}

.jhk{
    border-color:white;
    padding: 10px;
    font-size:20px;

}

.imgh{
    width: 40px;
    height: 40px;
}