body{
    transition: 0.5;
}
.dicxf{
    padding: 20px 40px;
    background-color: white;
    margin: 250px 450px;
    width: 30%;
    height: 40%;
    border-radius: 10px;

}
.rtytt{
    width: 100%;
    heigth:60%;
    padding:10px 70px;
    border-radius: 10px;
    font-size: 25px;
     font-weight: 600;

}

.dicxf > :first-child{
    text-align: center;
    font-size: 35px;
}