*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    list-style: none;
    /* box-sizing: border-box; */

}

body{
    background-color: black;

}

div{
    background-color: white;
    margin: 100px 33%;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 0px;
    border-radius: 15px;


   
}

.ggdjhkg{
    font-size: 20px;
    font-weight: 600;
    margin-right: 70px;
}

.ffjkjo{
    width: 50%;
    height: 30px;
    margin-top: 20px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 15px;
    margin-bottom: 40px;

    



}

.fygjiiyu{
    background-color: lightseagreen;
    color: white;
    padding: 20px;
    width: 55%;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 15px;


}

.gfygu{
      margin: 0px;
    padding: 0px;
}

.gfygu>:first-child{
    width: 100px;
    height: 100px;
}